PORT=3000
JWT_KEY=ENTER_YOUR_KEY
JWT_EXP=ENTER_SOME_EXP_TIME
KAFKA_BROKER_IP=ENTER_KAFKA_IP
PORTFOLIO_SERVICE_URL=http://localhost:3005
INTERNAL_SECRET=ENTER_KEY_FOR_BACKEND_INTERNAL_CALLS_AUTHENTICATION
REDIS_URL=ENTER_REDIS_URL
