PORT=3002
JWT_KEY=ENTER_YOUR_KEY
INTERNAL_SECRET=ENTER_KEY_FOR_BACKEND_INTERNAL_CALLS_AUTHENTICATION
PRICE_SERVICE_URL=http://localhost:3003
PORTFOLIO_SERVICE_URL=http://localhost:3005
KAFKA_BROKER_IP=ENTER_KAFKA_IP
REDIS_URL=YOUR_REDIS_URL